html {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-family: nta, helvetica;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  padding: 0;
  margin: 0; }

.top-bar {
  background: #0b0c0c;
  padding: 15px 20px 10px; }
  .top-bar .inner {
    position: relative;
    width: 166px;
    height: 30px;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    line-height: 1em;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    margin-bottom: -1px;
    padding-bottom: 1px;
    color: #fff; }
    .top-bar .inner img {
      position: relative;
      top: -2px;
      width: 35px;
      height: 31px;
      padding-right: 6px;
      float: left;
      display: inline;
      line-height: inherit;
      border: none; }

.box {
  height: calc(100% - 210px);
  width: 33.33%;
  float: left;
  overflow: hidden; }
  .tall .box {
    width: 50%;
    height: 33.33%; }
    .tall .box.recent {
      width: 100%;
      height: 40%; }

.box-inner {
  padding: 15px; }

.small-box {
  overflow: hidden;
  width: 100%;
  height: 160px; }

.searches h1 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  margin-top: 0;
  color: #999; }
.searches ul {
  margin: 0;
  padding: 0; }
  .searches ul li {
    margin: 0;
    padding: 5px 0 10px;
    list-style: none;
    font-size: 25px;
    line-height: 1; }
  .searches ul li:nth-child(1) {
    -webkit-animation: fade-in 1s; }

.traffic {
  background: #005EA5;
  color: #fff;
  text-align: left; }
  .traffic h1 {
    margin: 0em 0 0;
    font-size: 100px; }
  .traffic p {
    margin: 0; }
  .traffic .count {
    float: left;
    width: 33.33%; }
    .tall .traffic .count {
      width: 50%; }
  .traffic .graph {
    float: left;
    width: 66.66%; }
    .tall .traffic .graph {
      width: 50%; }
  .traffic .axis path {
    stroke: #fff;
    stroke-width: 2;
    fill: none; }
  .traffic path.area {
    fill: #fff;
    stroke-width: 0; }
  .traffic .label {
    fill: #fff;
    font-size: 16px; }

.content h1 {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  color: #999; }
.content ul {
  padding: 0;
  margin: 10px 0; }
.content li {
  font-size: 22px;
  margin: 0;
  padding-bottom: 10px;
  list-style: none; }
  .content li em {
    font-style: normal;
    display: block;
    font-size: 0.8em;
    font-weight: normal;
    color: #6f777b; }
    .content li em span {
      font-size: 0.8em; }
      .content li em span.triangle {
        font-size: 0.6em; }
      .content li em span.triangle, .content li em span.percent {
        color: #006435; }
.content li:nth-child(1) {
  font-size: 160%; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
